################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TecShop Project/CopilotIndices/17.12.38.29086
/.vs/TecShop Project/DesignTimeBuild
/.vs/TecShop Project/FileContentIndex
